*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-y: visible;
  overflow-x: hidden;
  font-size: 1.15rem;
  font-family: "Montserrat", sans-serif;
  background-color: #3d405b;
}

header {
  display: flex;
  margin-top: 1rem;
  color:white;
  font-size: 2rem;
  font-weight: 700;
  justify-content: center;
}
.pokemon-container {
  color: white;
  margin: 1rem 2rem;
  height: 100vh;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.info-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: teal;
  margin: 1em;
  padding: 1rem;
  border-radius: 1em;
}

button {
  cursor: pointer;
  margin-bottom: 1.5rem;
  background-color: #81b29a;
  color: #3d405b;
  padding: 0.5rem;
  border-radius: 12px;
  font-size: 1.5rem;
  border: none;
  transition: 200ms ease-in-out;
}
button:hover {
  cursor: pointer;
  background-color: #61997e;
  color: #3d405b;
  padding: 0.5rem;
  border-radius: 12px;
  font-size: 1.5rem;
  border: none;
}
